<section>

    <article class="appt-title">

    </article>
    {{!--  --}}
</section>


<style>


article.appt-title{

}

</style>


<script defer>

    function AppointmentPartial(){
        // .. 
    }
    AppointmentPartial();

</script>