
  <link rel="stylesheet" href="css/aboutUs.css">

 
 <div class="bg-light">
      <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
          <div class="col-lg-6">
            <h1 class="display-4">About Mentorium Emporium</h1>
            <p class="lead text-muted mb-0">
              Mentorium Emporium has been developed to connect aspiring
              developers with experienced developers through our mentoring
              programme. Our program focuses on the strengths of the Mentors
              based on coding languages and matches the Mentees based on their
              selected languages requiring development. Mentees are presented
              with their Mentor matches and can select a mentor to view their
              availability to request an appointment. Mentors can then approve
              the mentee appointment request. The appointments are then
              presented on the user’s profile.
            </p>
          </div>
          <div class="col-lg-6 d-none d-lg-block">
            <img
              src="https://bootstrapious.com/i/snippets/sn-about/illus.png"
              alt=""
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="bg-light py-5">
      <div class="container py-5">
        <div class="row mb-4">
          <div class="col-lg-5">
            <h2 class="display-4 font-weight-light">Our Team</h2>
            <p class="font-italic text-muted">
              Founders of Mentorium Emporium.
            </p>
          </div>
        </div>

        <div class="row text-center">
          <!-- Team item-->
          <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
              <img
                src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png"
                alt=""
                width="100"
                class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
              />
              <h5 class="mb-0">Gorge Ellis</h5>
              <span class="small text-uppercase text-muted">Founder</span>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item">
                  <a href="#" class="social-link"
                    ><i class="fa fa-facebook-f"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="social-link"
                    ><i class="fa fa-twitter"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="social-link"
                    ><i class="fa fa-github"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="social-link"
                    ><i class="fa fa-linkedin"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- End-->

          <!-- Team item-->
          <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
              <img
                src="https://bootstrapious.com/i/snippets/sn-about/avatar-4.png"
                alt=""
                width="100"
                class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
              />
              <h5 class="mb-0">Hannah Allison-Batt</h5>
              <span class="small text-uppercase text-muted">Founder</span>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item">
                  <a href="#" class="social-link"
                    ><i class="fa fa-facebook-f"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="social-link"
                    ><i class="fa fa-twitter"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="social-link"
                    ><i class="fa fa-github"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="social-link"
                    ><i class="fa fa-linkedin"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- End-->

          <!-- Team item-->
          <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
              <img
                src="https://bootstrapious.com/i/snippets/sn-about/avatar-4.png"
                alt=""
                width="100"
                class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
              />
              <h5 class="mb-0">Tahlia La Galia</h5>
              <span class="small text-uppercase text-muted"> Founder</span>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item">
                  <a href="#" class="social-link"
                    ><i class="fa fa-facebook-f"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="social-link"
                    ><i class="fa fa-github"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="social-link"
                    ><i class="fa fa-instagram"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="social-link"
                    ><i class="fa fa-linkedin"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- End-->

          <!-- Team item-->
          <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
              <img
                src="https://bootstrapious.com/i/snippets/sn-about/avatar-1.png"
                alt=""
                width="100"
                class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
              />
              <h5 class="mb-0">Dan Nelson</h5>
              <span class="small text-uppercase text-muted">Founder</span>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item">
                  <a href="#" class="social-link"
                    ><i class="fa fa-facebook-f"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="social-link"
                    ><i class="fa fa-github"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="social-link"
                    ><i class="fa fa-instagram"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="social-link"
                    ><i class="fa fa-linkedin"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
         
        </div>
      </div>
    </div>