<section class="vh-75">
      <div class="container py-5 h-75">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
                <div class="mb-md-5 mt-md-4 pb-5">
                  <h2 class="fw-bold mb-2 text-uppercase">What would you like to do</h2>
                  <p class="text-white-50 mb-5">Menor or Mentee?</p>

                  <a href="/signupMentor">
                  <button class="btn btn-outline-light btn-lg px-5" type="submit">Be a Mentor</button>
                </a>
                  <br>
                  <br>
                  <a href="/signupMentee">
                  <button class="btn btn-outline-light btn-lg px-5" type="submit"  >Find a Mentor</button>
                </a>
                </div>
                 <div>
                  <p class="mb-0">Already have account? <a href="/login" class="text-white-50 fw-bold">Log in</a></p>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<script src="/js/login.js"></script>